$fade-in: fadeIn 2s;
$loading: loading .4s;
$modal-grow: modal-grow .5s;

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes modal-grow {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    25% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    50% {
        transform: translate(-50%, -50%) scale(.9);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
