$dark-gray: #222;
$light-gray: #E0E0E0;
$secondary-gray: #454545;
$tertiary-gray: #ECF0F1;

$google-blue: #4285f4;
$google-green: #0f9d58;
$google-red: #db4437;
$google-yellow: #f4b400;
$google-orange: #e69133;
