body {
    background-color: #222;
    margin: 0;
    width: 95%;
}

.app {

    &--main-content {
        padding: 10px;
        transform: translateX(43px);
        transition: .5s;

        &_slide {
            transform: translateX(143px);
            transition: .5s;
        }
    }
}
