body {
    background-color: #222;
    margin: 0;
    width: 95%;
}

.app {

    &--main-content {
        transform: translateX(52px);
        transition: .5s;

        &_slide {
            transform: translateX(152px);
            transition: .5s;
        }
    }
}
