.loading {

    &_spinner {
        background-color: #222;
    }

    .sk-circle {
        height: 100px;
        margin: 100px auto;
        position: relative;
        width: 100px;

        .sk-child {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            &:before {
                animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
                background-color: #fff;
                border-radius: 100%;
                content: '';
                display: block;
                height: 15%;
                margin: 0 auto;
                width: 15%;
            }
        }
    }

    .sk-circle
    .sk-circle2 {
        transform: rotate(30deg);
    }

    .sk-circle
    .sk-circle3 {
        transform: rotate(60deg);
    }

    .sk-circle
    .sk-circle4 {
        transform: rotate(90deg);
    }

    .sk-circle
    .sk-circle5 {
        transform: rotate(120deg);
    }

    .sk-circle
    .sk-circle6 {
        transform: rotate(150deg);
    }

    .sk-circle
    .sk-circle7 {
        transform: rotate(180deg);
    }

    .sk-circle
    .sk-circle8 {
        transform: rotate(210deg);
    }

    .sk-circle
    .sk-circle9 {
        transform: rotate(240deg);
    }

    .sk-circle
    .sk-circle10 {
        transform: rotate(270deg);
    }

    .sk-circle
    .sk-circle11 {
        transform: rotate(300deg);
    }

    .sk-circle
    .sk-circle12 {
        transform: rotate(330deg);
    }

    .sk-circle
    .sk-circle2:before {
        animation-delay: -1.1s;
    }

    .sk-circle
    .sk-circle3:before {
        animation-delay: -1s;
    }

    .sk-circle
    .sk-circle4:before {
        animation-delay: -.9s;
    }

    .sk-circle
    .sk-circle5:before {
        animation-delay: -.8s;
    }

    .sk-circle
    .sk-circle6:before {
        animation-delay: -.7s;
    }

    .sk-circle
    .sk-circle7:before {
        animation-delay: -.6s;
    }

    .sk-circle
    .sk-circle8:before {
        animation-delay: -.5s;
    }

    .sk-circle
    .sk-circle9:before {
        animation-delay: -.4s;
    }

    .sk-circle
    .sk-circle10:before {
        animation-delay: -.3s;
    }

    .sk-circle
    .sk-circle11:before {
        animation-delay: -.2s;
    }

    .sk-circle
    .sk-circle12:before {
        animation-delay: -.1s;
    }

    @keyframes sk-circleBounceDelay {
        0%, 80%, 100% { transform: scale(0); }
        40% { transform: scale(1); }
    }
}
