body {
    background-color: $dark-gray;
    margin: 0;
    overflow-x: hidden;
}

.app {

    &--main-content {
        margin-right: 50px;
        padding: 10px;
        transform: translateX(43px);
        transition: .5s;

        &_slide {
            transform: translateX(153px);
            transition: .5s;
        }
    }
}
