.modal-portal {

    &_displayed {
        background-color: $dark-gray;
        bottom: 0;
        opacity: .9;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &--content {
        left: 50%;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}
