.modal {
    background-color: $light-gray;
    min-height: 300px;
    min-width: 300px;

    &_add-card {
        height: 300px;
        width: 600px;
    }

    &--users-grid {
        background-color: $secondary-gray;
        cursor: pointer;
        display: inline-block;
        height: 100px;
        margin: 100px;
        position: relative;
        vertical-align: middle;
        width: 100px;

        &-user {
            font: bold font(12px);
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
