.button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: .2s;

    &_add {
        animation: $fade-in 1s;
        background-color: $google-red;
        border: 0;
        border-radius: 50%;
        color: $light-gray;
        font: font(25px);
        height: 55px;
        width: 55px;

        &:hover {
            transform: scale(1.25);
        }
    }

    &_pay {
        background-color: transparent;
        border: 0;
        color: $secondary-gray;
        font: 900 font(40px);

        &:active {
            transform: scale(1.5);
        }
    }

    &_submit {
        background-color: $google-green;
        border: 0;
        border-radius: 50%;
        font: font(25px);
        height: 50px;
        width: 50px;

        &:hover {
            background-color: lighten($google-green, 10%);
        }
    }

    &:focus {
        outline: 1px;
    }
}
