.card {
    background: $tertiary-gray;
    border-top: 3px solid $google-red;
    color: $dark-gray;
    display: inline-block;
    height: 180px;
    margin: 10px;
    min-width: 250px;
    padding: 15px 10px;
    position: relative;
    text-align: left;
    transform: translateX(-20px);
    vertical-align: top;
    visibility: hidden;
    word-wrap: break-word;

    &_really-old {
        background: lighten($google-red, 35%);
    }

    &_displayed {
        opacity: 1;
        transform: translateX(0);
        transition: 1s all;
        visibility: visible;
    }

    &--button {
        position: absolute;
        right: 0;
        top: -5px;
        visibility: hidden;
    }

    &:hover {
        box-shadow: 0 0 20px $tertiary-gray;

        .card--button {
            visibility: visible;
        }
    }

    &--info {
        height: 150px;

        &-label {
            color: $neutral-gray4;
            font: font(15px);
            margin-top: 5px;
        }
    }

    &--name {
        font: font(60px);
    }

    &--category {
        font: font(20px);
        text-transform: uppercase;
    }

    &--date {
        font: font(15px);

        &_really-old {
            color: $google-red;
            font-weight: bold;
        }
    }
}
