.header {
    height: 100px;
    position: relative;

    &--title {
        color: #fff;
        font-family: Sans-Serif;
        font-size: 41px;
        font-weight: 700;
        left: 82px;
        position: absolute;
        top: 23px;
    }
}
