@import 'globals';

.header {
    height: 100px;
    position: relative;
    transform: translateX(43px);
    transition: .5s;

    &--title {
        color: $light-gray;
        font-family: Sans-Serif;
        font-size: 41px;
        font-weight: 700;
        left: 82px;
        position: absolute;
        top: 23px;
    }

    &_slide {
        transform: translateX(163px);
        transition: .5s;
    }
}
