.arrow {
    &_left {
        border-bottom: 20px solid transparent;
        border-right: 20px solid #fff;
        border-top: 20px solid transparent;
        height: 0;
        width: 0;
    }

    &_right {
        border-bottom: 20px solid transparent;
        border-left: 20px solid #fff;
        border-top: 20px solid transparent;
        height: 0;
        width: 0;
    }

    &:hover {
        animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
}
}
