.sidebar {

    &--content {
        background-color: #f2f2f2;
        height: 100%;
        position: absolute;
        top: 0;
        transform: translateX(-100px);
        transition: .5s;
        width: 100px;

        &_displayed {
            transform: translateX(0);
            transition: .5s;
        }
    }

    &--link {
        color: #222;
        display: block;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        line-height: 48px;
        padding: 0 32px;
        text-decoration: none;

        &-active {
            background-color: #222;
            color: #fff;
        }

        &-text {
            display: table-cell;
            vertical-align: middle;
        }
    }
}
